<!doctype html>
<html>
<body style="text-align: center">
<h1>You have been added to a team on our platform</h1>
<div>
    <p>
        An account was created for you with a random generated password. The password is  <b style="color: rgb(0, 130, 280); font-size: 15pt"><%= userData.generatedPassword %>.</b>
        <br />

        <a href='<%= userData.goToUrl %>' style='color:white;background:#004d40;padding:10px;text-decoration:none;border-radius:5px;display:block;margin:15px auto; width:200px;'>Click here to login</a>
    </p>
</div>
</body>
</html>