<!doctype html>
<html>
<body style="text-align: center">
<h1>Reset Password</h1>
<div>
    <p>
        The One-Time-Pin you have received will expire in <%= otpData.expiryTime %> seconds and do not share this with anyone<br />
        Copy this code to reset your password <b style="color: rgb(0, 130, 280); font-size: 15pt"><%= otpData.code %>.</b>
    </p>
</div>
</body>
</html>